body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table th, table td {
  white-space: nowrap;
}

.dropdown-menu a.dropdown-item.disabled {
  cursor: not-allowed !important;
}

.dropdown-menu a.dropdown-item.text-danger.disabled {
  color: #dc3545 !important;
}

@media (max-width: 1350px) {
  .dashboard-container {
    flex-direction: column !important;
    align-items: center;
    justify-content: flex-start !important;
  }
}

.sidebar-sticky .nav .nav-item.active a.nav-link {
  pointer-events: none;
  color: #0056b3 !important;
}

.refresh-button, .back-button {
  position: absolute;
  top: -20px;
  cursor: pointer;
  opacity: 0.7;
}

.refresh-button {
  font-size: 25px;
  right: -10px;
}

.back-button {
  font-size: 32px;
  left: -10px;
}

.refresh-button:hover, .back-button:hover {
  opacity: 1;
}

.refresh-button i {
  pointer-events: none;
}

.log-block:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.log-block p:first-child {
  padding-top: 0.4rem;
}

.bootstrap-select {
  width: 100% !important;
}

div.dropdown.bootstrap-select button.dropdown-toggle {
  color: #495057 !important;
  background-color: #fff !important;
  border: 1px solid #ced4da !important;
  outline-width: 0 !important;
}

div.dropdown.bootstrap-select button.dropdown-toggle:hover {
  background-color: #f8f9fa !important;
}

div.dropdown.bootstrap-select.show button.dropdown-toggle,
div.dropdown.bootstrap-select button.dropdown-toggle:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.bootstrap-datetimepicker-widget {
  font-size: 13px;
}

.bootstrap-datetimepicker-widget thead tr th {
  border-top: none;
}

.bootstrap-datetimepicker-widget .datepicker-days tbody tr:last-of-type {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.bootstrap-datetimepicker-widget th.picker-switch[title="Select Month"] {
  pointer-events: none;
}

.bootstrap-datetimepicker-widget li.picker-switch td {
  padding-top: 3px;
}
